* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #443d35;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #f0e5d8;
  display: block;
  max-width: 1400px;
  margin: 50px auto;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 99px;
  border: none;
  padding: 20px 50px;
  cursor: pointer;
  background: linear-gradient(90deg,
  rgba(187, 223, 200, 1) 0%,
  rgba(117, 207, 187, 1) 100%);
  color: #fff;
}

button:hover {
  background: linear-gradient(90deg,
  rgba(117, 207, 187, 1) 0%,
  rgba(187, 223, 200, 1)  100%);
  transition: 1s;
}