* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #443d35;
}

li, ul {
  list-style: none;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #f1e1cc;
  display: block;
  max-width: 1400px;
  margin: 50px auto;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 99px;
  border: none;
  padding: 20px 50px;
  cursor: pointer;
  background: linear-gradient(
  rgb(146, 211, 171) 20%,
  rgb(75, 180, 157) 100%);
  color: #fff;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(
  rgb(75, 180, 157) 20%,
  rgb(146, 211, 171) 100%);
  transition: 1s;
}